.App {
  text-align: left;
  background-color: papayawhip;
}

.tableContainer{
  position: fixed;
  top: 30px;
  left: 30px;
  width: 240px;
  height: 650px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: 600;
  font-family: arial;
  z-index: 100;
  font-size: 18px;
  transform-origin:top left;
}


.videoContainer {
  padding: 20px;
  width: 100%;
}

.panelContainer {
  padding: 20px;
  width: 100%;
}

.cubeContainer {
  margin-left: 25px;
}
.container_ {
  display: grid;
  grid-template-rows: 50px 50px 50px;
  grid-template-columns: 10px 100px 30px 30px;
}