.App {
  text-align: left;
  background-color: azure; /* papayawhip; */
  padding: 30px;
  padding-top: 10px;
}

textarea {
  font-family: monaco, monospace;
}
label {
  padding-left: 10px;
  font-weight: 600;
  height: 30px;
  width: 100px;
  display: inline-block;
}
input[type='range'] {
  height: 30px;
  width: 300px;
  margin-left: 10px;
  margin-right: 30px;
}
input[type='file'] {
  height :20px;
  font-size: 16px;
}
.tableContainer{
  position: fixed;
  top: 30px;
  left: 30px;
  width: 240px;
  height: 650px;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: 600;
  font-family: arial;
  z-index: 100;
  font-size: 18px;
  transform-origin:top left;
}


.videoContainer {
  padding: 20px;
  width: 100%;
}

.panelContainer {
  padding: 20px;
  width: 100%;
}

.cubeContainer {
  margin-left: 25px;
}
